/* Enter Component Styles Here */
center {
	min-width: 0;
}

table.featured-article-event .blurb {
	color: #4C4C4C;
}

table.featured-article-event .featured-image {
	padding-bottom: 2em;
}

table.featured-article-event h1 {
	font-size: 36px;
	text-align: << widget.alignment >> !important;
}

table.featured-article-event h2 {
	font-size: 20px;
}

table.featured-article-event table.button {
	background-color: #0B5FFF;
	background: #0B5FFF;
}

table.featured-article-event table.button table td {
	background-color: #0B5FFF;
	background: #0B5FFF;
}

table.featured-article-event table.button table a {
	border: 0 solid #0B5FFF;
}