<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{ widget.FIELDNAME }}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->
<style>
	@media only screen and (max-width: 596px) {
		table.button {
			text-align: center !important;
		}
	}

    table.button:hover {
        background: #0053F0 !important;
        background-color: #0053F0 !important;
    }

    table.button:active {
        background: #004AD7 !important;
        background-color: #004AD7 !important;
    }

  	table.featured-article-event .blurb a {
  		color: #0B5FFF !important;
  	}

  	table.featured-article-event .blurb a:hover {
      color: #0053F0 !important;
  	}

  	table.featured-article-event .blurb a:active {
  		color: #004AD7 !important;
  	}
</style>

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Event",
		"name": "{{ widget.event_name }}",
		"potentialAction": {
			"@type": "RsvpAction",
			"target": "{{ widget.button_href }}"
		}
	}
}
</script>

<table class="featured-article-event">
	<tbody>
		<tr>
			<td class="standard-padding">
				{% if widget.full_width_image.src %}
					<row>
						<td class="featured-image">
							{% if widget.button_href %}
								<a href="{{ widget.button_href }}">
									<img class="full-width" alt="{{ widget.full_width_image.alt }}" height="" src="{{ widget.full_width_image.src }}" width="580">
								</a>
							{% else %}
								<img class="full-width" alt="{{ widget.full_width_image.alt }}" height="" src="{{ widget.full_width_image.src }}" width="580">
							{% endif %}
						</td>
					</row>
				{% endif %}

				<row>
					<td>
						{% if widget.heading %}
							<row>
								<td>
									<h1 class="{{ widget.alignment }}">{{ widget.heading }}</h1>
								</td>
							</row>
						{% endif %}

						{% if widget.blurb_text %}
							<row>
								<td class="small-padding-vertical">
									<h2 class="blurb">{{ widget.blurb_text }}</h2>
								</td>
							</row>
						{% endif %}

						{% if widget.event_date %}
							<row>
								<td>
									<h2 class="blurb">{{ widget.event_date }}</h2>
								</td>
							</row>
						{% endif %}

						{% if widget.event_time %}
							<row>
								<td>
									<h2 class="blurb">{{ widget.event_time }}</h2>
								</td>
							</row>
						{% endif %}
					</td>
				</row>

				{% if widget.button_href and widget.button_text %}
					<row>
						<td class="standard-padding-vertical">
							{% if widget.alignment != 'left' %}
								<center>
									<button class="radius" href="{{ widget.button_href }}">
										{{ widget.button_text }}
									</button>
								</center>
							{% else %}
								<button class="radius" href="{{ widget.button_href }}">
									{{ widget.button_text }}
								</button>
							{% endif %}
						</td>
					</row>
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>