/* Enter Component Styles Here */

span.symbol {
	line-height: 30px;
	padding: 0 16px;
}

table.horizontal-rule {
	width: 75% !important;
}

table.horizontal-rule td {
	background-color: #e3e4e5;
	height: 1px;
	margin: 0;
	width: 100%;
	vertical-align: middle;
	font-size: 1px;
}

td.logo {
	padding: 0 16px;
}

td.logo img {
	max-height: 30px;
}