/* Enter Component Styles Here */
center {
	min-width: 0;
}

.co-branded-logo {
	width: 100%;
}

.liferay-logo {
	max-width: 150px;
}

td.border-bottom {
	border-bottom: 1px solid #E3E4E5;
}

td {
	vertical-align: middle;
}

.logo img {
	max-width: 150px;
}