<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{ widget.FIELDNAME }}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->

<center>
	<spacer size="16"></spacer>

	<container>
		<center>
			<table>
				<td class="logo">
					{% if widget.liferay_logo.src %}
						<img src="{{ widget.liferay_logo.src }}" width="{{ widget.liferay_logo.width }}" height="{{ widget.liferay_logo.height }}" alt="{{ widget.liferay_logo.alt }}">
					{% endif %}
				</td>
				<td>
					<span class="symbol">{{ widget.relationship_symbol }}</span>
				</td>
				<td class="logo">
					{% if widget.co_brand_company_logo.src %}
						<img src="{{ widget.co_brand_company_logo.src }}" width="{{ widget.co_brand_company_logo.width }}" height="{{ widget.co_brand_company_logo.height }}" alt="{{ widget.co_brand_company_logo.alt }}">
					{% endif %}
				</td>
			</table>
		</center>
	</container>

	<table width="75%" class="horizontal-rule">
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>

	<spacer size="16"></spacer>
</center>