<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{ widget.FIELDNAME }}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->
<table class="co-branded-logo">
	<tbody>
		<tr>
			<td class="standard-padding">
				<row>
					<td class="standard-padding border-bottom">
						<center>
							<table>
								<td class="logo standard-padding-horizontal">
									<img class="liferay-logo" height="32" src="https://discover.liferay.com/hubfs/Custom_Module_Files/liferay-blue2x.png" width="111" />
								</td>
								<td class="symbol">
									{% if widget.relationship_symbol %}
										<span>{{ widget.relationship_symbol }}</span>
									{% endif %}
								</td>
								<td class="logo standard-padding-horizontal">
									{% if widget.co_brand_company_logo.src %}
										<img src="{{ widget.co_brand_company_logo.src }}" width="{{ widget.co_brand_company_logo.width }}" height="{{ widget.co_brand_company_logo.height }}" alt="{{ widget.co_brand_company_logo.alt }}">
									{% endif %}
								</td>
							</table>
						</center>
					</td>
				</row>
			</td>
		</tr>
	</tbody>
</table>

<spacer size="16"></spacer>