<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{ widget.FIELDNAME }}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->

{% set hex_color = widget.audience %}
{% set section_width = 'width: 100%;' %}

<style>
	table.newsletter-section a {
		color: #0B5FFF !important;
	}

  	table.newsletter-section a:hover {
		color: #0053F0 !important;
	}

    table.newsletter-section a:active {
		color: #004AD7 !important;
 	}
</style>

{% macro print_article_info(article_title, article_blurb, article_url) %}
	{% if article_title %}
		<row class="article">
			<td style="padding-bottom: .5em; padding-top: .5em;">
				<row>
					<td>
						{% if article_url %}
							<h2 class="no-margin-vertical no-padding">
								<a href="{{ article_url }}">{{ article_title }}</a>
							</h2>
						{% else %}
							<h2 class="no-margin-vertical no-padding">{{ article_title }}</h2>
						{% endif %}
					</td>
				</row>

				{% if article_blurb %}
					<row>
						<td>
							<p>{{ article_blurb }}</p>
						</td>
					</row>
				{% endif %}
			</td>
		</row>

		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Article",
				"name": "{{ article_title }}",
				"url": "{{article_url }}",
				"description": "{{ article_blurb }}",
				"publisher": {
					"@type": "Organization",
					"name": "Liferay"
				}
			}
		</script>
	{% endif %}
{% endmacro %}

<table class="newsletter-section">
	<tbody>
		<tr>
			{% if widget.section_image.src %}
				{% set section_width = 'width: 70%;' %}

				<td class="standard-padding" style="padding: 1em; width: 30%;">
					<center>
						<img alt="{{ widget.section_image.alt }}" class="small-padding" height="auto" src="{{ widget.section_image.src }}" style="width: 100%">
					</center>
				</td>
			{% endif %}

			<td style="{{ section_width }}">
				<row>
					<td class="standard-padding">
						<row>
							<td>
								<h3 class="small-caps">{{ widget.section_title }}</h3>
							</td>
						</row>

						{{ print_article_info(widget.article_title1, widget.article_blurb1, widget.article_url1) }}

						{{ print_article_info(widget.article_title2, widget.article_blurb2, widget.article_url2) }}

						{{ print_article_info(widget.article_title3, widget.article_blurb3, widget.article_url3) }}

						{{ print_article_info(widget.article_title4, widget.article_blurb4, widget.article_url4) }}

						{{ print_article_info(widget.article_title5, widget.article_blurb5, widget.article_url5) }}
					</td>
				</row>
			</td>
		</tr>
	</tbody>
</table>