<style>
    /* Enter Component Styles Here */
    	.border-top {
    		border-top: 1px solid #909295;
    	}
    
    	.social-media-wrapper {
    		width: 80%;
    		vertical-align: top;
    	}
    
    	td.social-media-icon, td.social-media-icon a.icon {
    		max-width: 28px;
    		padding: 0 0.5em;
    		width: 28px;
    	}
    
    	td.social-media-icon img {
    		max-width: 20px;
    		width: 20px;
    	}
    
    	table.social-media-links {
    		width: auto;
    	}
</style>


<table class="row social-media" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
    <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top;">
            <td class="standard-padding" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 1em; text-align: left; vertical-align: top; word-wrap: break-word;">
                <table class="row border-top" style="border-collapse: collapse; border-spacing: 0; border-top: 1px solid #909295; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                    <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                            <center data-parsed="" style="min-width: 580px; width: 100%;">
                                {% if widget.social_media_options != 'none' %}
                                <td class="social-media-wrapper standard-padding float-center" align="center" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0 auto; border-collapse: collapse !important; box-sizing: border-box; color: #4C4C4C; float: none; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0 auto; padding: 1em; text-align: center; vertical-align: top; width: 80%; word-wrap: break-word;">
                                    <table class="row social-media-links" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                                        <tbody>
                                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                <td class="social-media-icon" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; vertical-align: top; width: 28px; word-wrap: break-word;">
                                                    <a class="icon" href="//facebook.com/liferay" target="_blank" style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-weight: normal; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; text-decoration: none; width: 28px;">
                                                        <img width="20" height="20" alt="Liferay on Facebook" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_facebook2x.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 20px; outline: none; text-decoration: none; width: 20px;">
                                                    </a>
                                                </td>

                                                <td class="social-media-icon" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; vertical-align: top; width: 28px; word-wrap: break-word;">
                                                    <a class="icon" href="//linkedin.com/company/83609" target="_blank" style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-weight: normal; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; text-decoration: none; width: 28px;">
                                                        <img width="20" height="20" alt="Liferay on LinkedIn" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_linkedin2x.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 20px; outline: none; text-decoration: none; width: 20px;">
                                                    </a>
                                                </td>

                                                <td class="social-media-icon" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; vertical-align: top; width: 28px; word-wrap: break-word;">
                                                    <a class="icon" href="//twitter.com/liferay" target="_blank" style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-weight: normal; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; text-decoration: none; width: 28px;">
                                                        <img width="20" height="20" alt="Liferay on Twitter" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_twitter2x.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 20px; outline: none; text-decoration: none; width: 20px;">
                                                    </a>
                                                </td>

                                                <td class="social-media-icon" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; vertical-align: top; width: 28px; word-wrap: break-word;">
                                                    <a class="icon" href="//youtube.com/user/liferayinc" target="_blank" style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-weight: normal; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; text-decoration: none; width: 28px;">
                                                        <img width="20" height="20" alt="Liferay on YouTube" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_youtube2x.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 20px; outline: none; text-decoration: none; width: 20px;">
                                                    </a>
                                                </td>

                                                <td class="social-media-icon" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; vertical-align: top; width: 28px; word-wrap: break-word;">
                                                    <a class="icon" href="//github.com/liferay" target="_blank" style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-weight: normal; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; text-decoration: none; width: 28px;">
                                                        <img width="20" height="20" alt="Liferay on Github" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_github2x.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 20px; outline: none; text-decoration: none; width: 20px;">
                                                    </a>
                                                </td>

                                                <td class="social-media-icon" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; vertical-align: top; width: 28px; word-wrap: break-word;">
                                                    <a class="icon" href="//instagram.com/liferayinc" target="_blank" style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-weight: normal; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; text-decoration: none; width: 28px;">
                                                        <img width="20" height="20" alt="Liferay on Instagram" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_instagram2x.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 20px; outline: none; text-decoration: none; width: 20px;">
                                                    </a>
                                                </td>

                                                {% if widget.social_media_options == 'german' %}
                                                <td class="social-media-icon" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; vertical-align: top; width: 28px; word-wrap: break-word;">
                                                    <a class="icon" href="//xing.com/companies/liferaygmbh" target="_blank" style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-weight: normal; line-height: 1.3; margin: 0; max-width: 28px; padding: 0 0.5em; text-align: left; text-decoration: none; width: 28px;">
                                                        <img width="20" height="20" alt="Liferay on Xing" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_xing2x.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 20px; outline: none; text-decoration: none; width: 20px;">
                                                    </a>
                                                </td>
                                                {% endif %}

                                                <td width="100%" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                {% endif %} {% if widget.social_media_options == 'none' %} {% set positioning_styles = 'text-align: center;' %} {% else %} {% set positioning_styles = 'float: right;' %} {% endif %}

                                <td height="50" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0 auto; border-collapse: collapse !important; color: #4C4C4C; float: none; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0 auto; padding: 1em; text-align: center; vertical-align: middle; word-wrap: break-word;"
                                align="center" class="float-center">
                                    <a href="//www.liferay.com" style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;" target="blank">
                                        <img src="https://discover.liferay.com/hubfs/Custom_Module_Files/liferay-logo-gray@2x.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 94px; outline: none; text-decoration: none; width: 94px;">
                                    </a>
                                </td>
                            </center>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
