<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{ widget.FIELDNAME }}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<style>
	/* Enter Component Styles Here */
	.border-top {
		border-top: 1px solid #909295;
	}

	.social-media-wrapper {
		width: 80%;
		vertical-align: top;
	}

	td.social-media-icon, td.social-media-icon a.icon {
		max-width: 28px;
		padding: 0 0.5em;
		width: 28px;
	}

	td.social-media-icon img {
		max-width: 20px;
		width: 20px;
	}

	table.social-media-links {
		width: auto;
	}
</style>

<!-- Component HTML -->
<table class="row social-media">
	<tbody>
		<tr>
			<td class="standard-padding">
				<row class="border-top">
					<center>
						{% if widget.social_media_options != 'none' %}
							<td class="social-media-wrapper standard-padding">
								<row class="social-media-links">
									<td class="social-media-icon">
										<a class="icon" href="//facebook.com/liferay" target="_blank"><img width="20" height="20" alt="Liferay on Facebook" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_facebook2x.png" /></a>
									</td>

									<td class="social-media-icon">
										<a class="icon" href="//linkedin.com/company/83609" target="_blank"><img width="20" height="20" alt="Liferay on LinkedIn" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_linkedin2x.png" /></a>
									</td>

									<td class="social-media-icon">
										<a class="icon" href="//twitter.com/liferay" target="_blank"><img width="20" height="20" alt="Liferay on Twitter" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_twitter2x.png" /></a>
									</td>

									<td class="social-media-icon">
										<a class="icon" href="//youtube.com/user/liferayinc" target="_blank"><img width="20" height="20" alt="Liferay on YouTube" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_youtube2x.png"/></a>
									</td>

									<td class="social-media-icon">
										<a class="icon" href="//github.com/liferay" target="_blank"><img width="20" height="20" alt="Liferay on Github" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_github2x.png" /></a>
									</td>

									<td class="social-media-icon">
										<a class="icon" href="//instagram.com/liferayinc" target="_blank"><img width="20" height="20" alt="Liferay on Instagram" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_instagram2x.png" /></a>
									</td>

									{% if widget.social_media_options == 'german' %}
										<td class="social-media-icon">
											<a class="icon" href="//xing.com/companies/liferaygmbh" target="_blank"><img width="20" height="20" alt="Liferay on Xing" src="https://discover.liferay.com/hubfs/Custom_Module_Files/20x20_xing2x.png" ></a>
										</td>
									{% endif %}

									<td width="100%">&nbsp;</td>
								</row>
							</td>
						{% endif %}

						{% if widget.social_media_options == 'none' %}
							{% set positioning_styles = 'text-align: center;' %}
						{% else %}
							{% set positioning_styles = 'float: right;' %}
						{% endif %}

						<td height="50" style="padding: 1em; vertical-align: middle;">
							<a href="//www.liferay.com" style="{{positioning_styles}}" target="blank">
								<img src="https://discover.liferay.com/hubfs/Custom_Module_Files/liferay-logo-gray@2x.png" style="max-width: 94px; width: 94px; {{positioning_styles}}">
							</a>
						</td>
					</center>
				</row>
			</td>
		</tr>
	</tbody>
</table>