/* Enter Component Styles Here */
table.signature {
	width: 100%;
}

td.headshot {
	width: 60px;
}

td.headshot img {
	height: 60px;
	width: 60px;
	border-radius: 60px;
}

td.signee {
	vertical-align: bottom;
}

td.signee div {
	font-style: italic;
}

td.signee img {
	height: 60px;
	max-height: 60px;
}

td.signee .signee-title {
	font-weight: 200;
}