<style>
    #footer a.link-text {
        color: #ccc;
        font-style: italic;
    }
</style>


<table class="row" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
    <table class="row" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
        <tbody>
            <tr style="padding: 0; text-align: left; vertical-align: top;">
                <center data-parsed="" style="min-width: 580px; width: 100%;">
                    <th class="templateColumnWrapper float-center small-12 large-12 columns first last" align="center" style="Margin: 0 auto; color: #474a4b; float: none; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; margin-bottom: 10px; padding: 0; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; text-align: center; width: 564px;">
                        <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                                <th style="Margin: 0; color: #474a4b; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
                                    <div class="widget-span widget-type-email_can_spam text-center" data-widget-type="email_can_spam">
                                        <p id="footer" class="text-center" style="Margin: 0; Margin-bottom: 10px; color: #474a4b; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 20px; margin: 0; margin-bottom: 10px; padding: 0; text-align: center;">
                                            <br><a class="link-text" href="{{unsubscribe_link}}" target="_blank" data-unsubscribe="true" style="Margin: 0; color: #ccc; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-style: italic; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: left; text-decoration: none;">Unsubscribe</a>
                                        </p>
                                        <p class="text-center" style="Margin: 0; Margin-bottom: 10px; color: #474a4b; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 20px; margin: 0; margin-bottom: 10px; padding: 0; text-align: center;">{{ site_settings.company_name }}
                                            <br>{{ site_settings.company_street_address_1 }} {{ site_settings.company_street_address_2 }}
                                            <br>{{ site_settings.company_city }} {{ site_settings.company_state }}
                                            <br>
                                        </p>
                                    </div>
                                </th>
                                <th class="expander" style="Margin: 0; color: #474a4b; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0 !important; text-align: left; visibility: hidden; width: 0;"></th>
                            </tr>
                        </table>
                    </th>
                </center>
            </tr>
        </tbody>
    </table>
</table>