/* Enter Component Styles Here */

table.office-location-super-simple td,
table.office-location-super-simple a, {
	color: #4C4C4C;
	font-family: "Source Sans Pro", Tahoma, "Trebuchet MS", sans-serif;
	font-size: 14px;
}