/* Enter Component Styles Here */

table.office-location-super-simple td,
table.office-location-super-simple a, {
	color: #474a4b;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

table.office-location-super-simple a.link-text {
	text-decoration: underline;
	color: #909295;
}