<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{ widget.FIELDNAME }}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->

<!-- Begin Template Footer -->
<table class="row">
    <row >
        <center>
            <columns class="templateColumnWrapper">
                <div class="widget-span widget-type-email_can_spam text-center" data-widget-type="email_can_spam">
                    <p id="footer" class="text-center"><br><a class="link-text" href="{{unsubscribe_link}}" target="_blank" data-unsubscribe='true' >Unsubscribe</a></p>
                    <p class="text-center">{{ site_settings.company_name }}<br />
                        {{ site_settings.company_street_address_1 }} {{ site_settings.company_street_address_2 }}<br />
                        {{ site_settings.company_city }} {{ site_settings.company_state }} <br />
                    </p>
                </div><!--end widget-span -->
            </columns>
        </center>
    </row><!--end footer wrapper -->
</table>