<style>
    table.paragraph td, table.paragraph td p {
    		text-align: {{ widget.alignment }};
    	}
</style>

<table class="paragraph" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top;">
    <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top;">
            <td class="standard-padding-horizontal" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #474a4b; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; padding-bottom: 1em; padding-left: 1em; padding-right: 1em; text-align: {{ widget.alignment }}; vertical-align: top; word-wrap: break-word;">
                {% if widget.paragraph %}
                <p class="{{ widget.alignment }}" style="Margin: 0; color: #474a4b; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 20px; margin: 0; padding: 0; text-align: {{ widget.alignment }};">{{ widget.paragraph }} &nbsp;</p>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
