<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{widget.FIELDNAME}}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->

<style>
	table.paragraph td, table.paragraph td p {
		text-align: << widget.alignment >>;
	}
</style>

{% if widget.paragraph %}
	<table class="paragraph">
		<tbody>
			<tr>
				<td class="standard-padding-horizontal">
					{% if widget.paragraph %}
						<p class="{{ widget.alignment }}">{{ widget.paragraph }} &nbsp;</p>
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>
{% endif %}
