table.button tr td a {
	border-radius: $borderRadius;
	font-family: $fontStack;
	font-size: 18px;
	font-weight: 600;
	line-height: 3em;
	padding: 2em;
}

table.button.left-aligned {
	display: block;
}