table.button.prospect table td {
    background: #df584c;
    border: 0px solid #df584c;
}

table.button.prospect table a {
    border: 0 solid #df584c;
}

table.button.prospect:hover table td {
    background: #df7e4c;
}

table.button.prospect:hover table a {
    border: 0 solid #df7e4c;
}

table.button.customer table td {
    background: #33b88b;
    border: 0px solid #33b88b;  
}

table.button.customer table a {
    border: 0 solid #33b88b;
}

table.button.customer:hover table td {
    background: #56b88c;
}

table.button.customer:hover table a {
    border: 0 solid #56b88c;
}

table.button.community table td {
    background: #00a2aa;
    border: 0px solid #00a2aa;
}

table.button.community table a {
    border: 0 solid #00a2aa;
}

table.button.community:hover table td {
    background: #0faaa3;
}

table.button.community:hover table a {
    border: 0 solid #0faaa3;
}

table.button.partner table td {
    background: #67609b;
    border: 0px solid #67609b;
}

table.button.partner table a {
    border: 0px solid #67609b;
}

table.button.partner:hover table td {
    background: #68709b;
}

table.button.partner:hover table a {
    border: 0px solid #68709b;
}