.first {
	padding-left: 16px;
}

.last {
	padding-right: 16px;
}

.float-right {
	float: right;
}

.font-weight-lighter {
	font-weight: 200;
}

.font-weight-bold {
	font-weight: 600;
}

img.full-width {
	height: auto;
	max-width: 580px;
	width: 100%;
}

.no-margin-horizontal {
	margin-left: 0;
	margin-right: 0;
}

.no-margin-vertical {
	margin-bottom: 0;
	margin-top: 0;
}

.no-padding {
	padding: 0;
}

.no-padding-horizontal {
	padding-left: 0;
	padding-right: 0;
}

.no-padding-vertical {
	padding-bottom: 0;
	padding-top: 0;
}

.large-padding {
	box-sizing: border-box;
	padding: $largeSpacing;
}

.large-padding-horizontal {
	box-sizing: border-box;
	padding-left: $largeSpacing;
	padding-right: $largeSpacing;
}

.large-padding-vertical {
	box-sizing: border-box;
	padding-bottom: $largeSpacing;
	padding-top: $largeSpacing;
}

.medium-padding {
	box-sizing: border-box;
	padding: 2em;
}

.medium-padding-horizontal {
	box-sizing: border-box;
	padding-left: 2em;
	padding-right: 2em;
}

.medium-padding-vertical {
	box-sizing: border-box;
	padding-bottom: 2em;
	padding-top: 2em;
}

.section-padding {
	box-sizing: border-box;
	padding-bottom: 6em;
	padding-top: 5em;
}

.small-padding {
	box-sizing: border-box;
	padding: $smallSpacing;
}

.small-padding-horizontal {
	box-sizing: border-box;
	padding-left: $smallSpacing;
	padding-right: $smallSpacing;
}

.small-padding-vertical {
	box-sizing: border-box;
	padding-bottom: $smallSpacing;
	padding-top: $smallSpacing;
}

.standard-padding {
	box-sizing: border-box;
	padding: $standardSpacing;
}

.standard-padding-horizontal {
	box-sizing: border-box;
	padding-left: $standardSpacing;
	padding-right: $standardSpacing;
}

.standard-padding-vertical {
	box-sizing: border-box;
	padding-bottom: $standardSpacing;
	padding-top: $standardSpacing;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.w25 {
	width: 25%;
}

.w33 {
	width: 33.3333%
}

.w50 {
	width: 50%;
}

.w66 {
	width: 66.6666%
}

.w75 {
	width: 75%;
}

.w100 {
	width: 100%
}