/* ---------- Borders ---------- */

$borderRadius: 3px;

/* ---------- Colors ---------- */

$accentColor: #00B8B9;
$altFontColor: #909295;
$altPrimaryColor: #005B96;
$altSecondaryColor: #1B3A6A;
$complementaryColor: #F5A11D;
$elementColor: #E3E4E5;
$fontColor: #4C4C4E;
$primaryColor: #1C75B9;
$secondaryColor: #124680;

/* ---------- Spacing ---------- */

$largeSpacing: 3em;
$smallSpacing: .5em;
$standardSpacing: 1em;