{% if site_settings.office_location_name == 'Liferay HQ' %} {% set bool_registration_location = False %} {% set bool_registration_number = False %} {% set bool_managing_director = False %} {% elif site_settings.office_location_name == 'Liferay Germany'
%} {% set bool_registration_location = True %} {% set bool_registration_number = True %} {% set bool_managing_director = True %} {% set bool_email = True %} {% set bool_custom_manage_preferences = True %} {% set var_registration_location = "Amtsgericht
Frankfurt am Main" %} {% set var_registration_number = "HRB 93411" %} {% set var_managing_director = "Geschäftsführer: Bryan Cheung, Brian Kim" %} {% set var_email = "sales-de@liferay.com" %} {% elif site_settings.office_location_name == 'Liferay Spain'
%} {% set bool_registration_location = True %} {% set bool_registration_number = True %} {% set bool_custom_manage_preferences = True %} {% set var_registration_location = "España" %} {% set var_registration_number = "B-85341162" %} {% elif site_settings.office_location_name
== 'Liferay International' %} {% set bool_registration_location = True %} {% set bool_registration_number = True %} {% set bool_managing_director = True %} {% set bool_custom_manage_preferences = True %} {% set var_managing_director = "Ross A. Kennedy"
%} {% set var_registration_location = "Ireland" %} {% set var_registration_number = "507472" %} {% elif site_settings.office_location_name == 'Liferay UK' %} {% set bool_registration_location = True %} {% set bool_registration_number = True %} {% set
bool_managing_director = True %} {% set bool_custom_manage_preferences = True %} {% set var_managing_director = "Michael MacAuley" %} {% set var_registration_location = "United Kingdom" %} {% set var_registration_number = "07947645" %} {% elif site_settings.office_location_name
== 'Liferay Benelux BV' %} {% set bool_registration_location = True %} {% set bool_registration_number = True %} {% set bool_managing_director = True %} {% set bool_email = True %} {% set bool_custom_manage_preferences = True %} {% set var_email = "info-benelux@liferay.com"
%} {% set var_managing_director = "Ruud Kluivers" %} {% set var_registration_location = "The Netherlands" %} {% set var_registration_number = "60989327" %} {% elif site_settings.office_location_name == 'Liferay Italy' %} {% set bool_custom_manage_preferences
= True %} {% elif site_settings.office_location_name == 'Liferay France SAS' %} {% set bool_custom_manage_preferences = True %} {% elif site_settings.office_location_name == 'Liferay Hungary' %} {% set bool_custom_manage_preferences = True %} {% endif
%} {% if bool_custom_manage_preferences == True %} {% set preferences_link = 'https://www.liferay.com/press-releases/newsletter-signup' %} {% else %} {% set preferences_link = unsubscribe_link %} {% endif %}




<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600" rel="stylesheet">

<table class="row" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
    <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top;">
            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
                <center data-parsed="" style="min-width: 580px; width: 100%;">
                    <table align="center" class="row float-center" style="Margin: 0 auto; border-collapse: collapse; border-spacing: 0; float: none; margin: 0 auto; padding: 0; position: relative; text-align: center; vertical-align: top; width: 100%;">
                        <tbody>
                            <tr style="padding: 0; text-align: left; vertical-align: top;">
                                <div class="widget-span widget-type-email_can_spam text-center" data-widget-type="email_can_spam" style="text-align: center;">
                                    <p class="text-center" style="Margin: 0; color: #909295; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 14px !important; font-weight: 300; line-height: 26px; margin: 0; padding: 0; text-align: center;">
                                        {{ widget.subscription_reason }}
                                    </p>

                                    {% if widget.show_web_version %}
                                    <p class="text-center" style="Margin: 0; color: #909295; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 14px !important; font-weight: 300; line-height: 26px; margin: 0; padding: 0; text-align: center;">Manage <a class="link-text" href="{{preferences_link}}" target="_blank" data-unsubscribe="true" style="Margin: 0; color: #909295; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 14px !important; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;">email preferences</a>,
                                        <a
                                        class="link-text" href="{{ unsubscribe_link_all }}" target="_blank" data-unsubscribe="true" style="Margin: 0; color: #909295; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 14px !important; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;">unsubscribe</a>&nbsp;or <a data-viewaswebpage="true" href="{{ view_as_page_url }}" style="Margin: 0; color: #909295; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 14px !important; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;"> view in browser</a>.</p>
                                    {% else %}
                                    <p class="text-center" style="Margin: 0; color: #909295; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 14px !important; font-weight: 300; line-height: 26px; margin: 0; padding: 0; text-align: center;">Manage <a class="link-text" href="{{preferences_link}}" target="_blank" data-unsubscribe="true" style="Margin: 0; color: #909295; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 14px !important; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;">email preferences</a> or
                                        <a
                                        class="link-text" href="{{ unsubscribe_link_all }}" target="_blank" data-unsubscribe="true" style="Margin: 0; color: #909295; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 14px !important; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;">unsubscribe</a>
                                    </p>
                                    {% endif %}

                                    <p class="text-center" style="Margin: 0; color: #909295; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 14px !important; font-weight: 300; line-height: 26px; margin: 0; padding: 0; text-align: center;">© {{ year }} Liferay, Inc. All Rights Reserved.
                                        <br>
                                        <b>{{ site_settings.company_name }}</b>, {{ site_settings.company_street_address_1 }} {{ site_settings.company_street_address_2 }}, {{ site_settings.company_city }} {{ site_settings.company_state }} {{ site_settings.company_zip
                                        }}
                                        <br>{% if bool_registration_location == True %} {{ var_registration_location }}: {{ var_registration_number }}
                                        <br>{% endif %} {% if bool_managing_director == True %} {{ var_managing_director }}
                                        <br>{% endif %} {% if bool_email == True %}
                                        <a href="mailto:{{ var_email }}" style="Margin: 0; color: #909295; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 14px !important; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;">{{ var_email }}</a>
                                        <br>{% endif %} {{ site_settings.company_phone }}
                                    </p>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </center>
                <table class="row" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                    <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                            {% hubspot_footer %}
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
    <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top;">
            <td height="30px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 30px; font-weight: normal; hyphens: auto; line-height: 30px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&#xA0;</td>
        </tr>
    </tbody>
</table>
</elink>