{% if site_settings.office_location_name == 'Liferay HQ' %} {% set bool_registration_location = False %} {% set bool_registration_number = False %} {% set bool_managing_director = False %} {% elif site_settings.office_location_name == 'Liferay Germany'
%} {% set bool_registration_location = True %} {% set bool_registration_number = True %} {% set bool_managing_director = True %} {% set var_registration_location = "Amtsgericht Frankfurt am Main" %} {% set var_registration_number = "HRB 93411" %} {% set
var_managing_director = "Geschäftsführer: Bryan Cheung" %} {% elif site_settings.office_location_name == 'Liferay Spain' %} {% set bool_registration_location = True %} {% set bool_registration_number = True %} {% set var_registration_location = "Amtsgericht
Frankfurt am Main" %} {% set var_registration_number = "HRB 93411" %} {% elif site_settings.office_location_name == 'Liferay International' %} {% set bool_registration_location = True %} {% set bool_registration_number = True %} {% set var_registration_location
= "Amtsgericht Frankfurt am Main" %} {% set var_registration_number = "HRB 93411" %} {% elif site_settings.office_location_name == 'Liferay UK' %} {% set bool_registration_location = True %} {% set bool_registration_number = True %} {% set var_registration_location
= "Amtsgericht Frankfurt am Main" %} {% set var_registration_number = "HRB 93411" %} {% elif site_settings.office_location_name == 'Liferay Benelux BV' %} {% set bool_registration_location = False %} {% set bool_registration_number = True %} {% set var_registration_location
= "Amtsgericht Frankfurt am Main" %} {% set var_registration_number = "HRB 93411" %} {% endif %}

<style>
    #footer a.link-text {
        color: #ccc;
    }
</style>


<table align="center" class="container" style="Margin: 0 auto; background: #fefefe; border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: inherit; vertical-align: top; width: 580px;">
    <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top;">
            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; Margin-bottom: 10px; border-collapse: collapse !important; color: #474a4b; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
                <table class="row footer-container-wrapper" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                    <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                            <center data-parsed="" style="min-width: 580px; width: 100%;">
                                <th class="templateColumnWrapper float-center small-12 large-12 columns first last" align="center" style="Margin: 0 auto; Margin-bottom: 10px; color: #474a4b; float: none; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; margin-bottom: 10px; padding: 0; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; text-align: center; width: 564px;">
                                    <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                            <th style="Margin: 0; Margin-bottom: 10px; color: #474a4b; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
                                                <div class="widget-span widget-type-email_can_spam text-center" data-widget-type="email_can_spam">
                                                    <p id="footer" class="text-center" style="Margin: 0; Margin-bottom: 10px; color: #474a4b; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 20px; margin: 0; margin-bottom: 10px; padding: 0; text-align: center;">
                                                        <br>Manage <a class="link-text" href="{{unsubscribe_link}}" target="_blank" data-unsubscribe="true" style="Margin: 0; Margin-bottom: 10px; color: #ccc; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: left; text-decoration: none;">email preferences</a> or
                                                        <a
                                                        class="link-text" href="{{ unsubscribe_link_all }}" target="_blank" data-unsubscribe="true" style="Margin: 0; Margin-bottom: 10px; color: #ccc; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: left; text-decoration: none;">unsubscribe</a>.</p>
                                                    <p class="text-center" style="Margin: 0; Margin-bottom: 10px; color: #474a4b; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 20px; margin: 0; margin-bottom: 10px; padding: 0; text-align: center;">{{ site_settings.company_name }}
                                                        <br>{{ site_settings.company_street_address_1 }} {{ site_settings.company_street_address_2 }}
                                                        <br>{{ site_settings.company_city }} {{ site_settings.company_state }} {{ site_settings.company_zip }}
                                                        <br>{% if bool_registration_location == True %} {{ var_registration_location }}: {{ var_registration_number }}
                                                        <br>{% endif %} {% if bool_managing_director == True %} {{ var_managing_director }}
                                                        <br>{% endif %} {{ site_settings.company_phone }}</p>
                                                </div>
                                            </th>
                                            <th class="expander" style="Margin: 0; Margin-bottom: 10px; color: #474a4b; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0 !important; text-align: left; visibility: hidden; width: 0;"></th>
                                        </tr>
                                    </table>
                                </th>
                            </center>
                        </tr>
                    </tbody>
                </table>
                <table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                    <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                            {% hubspot_footer %}
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>