/* Enter Component Styles Here */
table.button a {
	border-radius: 3px;
}

table.button a td, table.button table tr td {
	background-color: transparent;
}

td.content {
	background-color: #EFEFEF;
}

table.text-promotion th {
	padding-bottom: 0;
}