<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{ widget.FIELDNAME }}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->

<style>
	h1, h2 {
		text-align: <<widget.alignment>> !important;
	}
</style>

<row>
	<td class="first last">
		{% if widget.heading_one %}
			<h1>{{ widget.heading_one}} &nbsp;</h1>
		{% endif %}

		{% if widget.heading_two %}
			<h2>{{ widget.heading_two }} &nbsp;</h2>
		{% endif %}
	</td>
</row>