<style>
    @media only screen and (max-width: 596px) {
    		table.list-item td.list-item-description, table.list-item td.list-item-description p {
    			text-align: center !important;
    		}
    
    		table.list-item td.list-item-description, table.list-item td.list-item-image {
    			box-sizing: border-box;
    			display: inline-block !important;
    			width: 100% !important;
    		}
    
    		table.list-item td.list-item-image img {
    			width: {{ widget.list_item_visual.width }};
    			height: {{ widget.list_item_visual.height }};
    		}
    	}
</style>

{% if widget.list_item_text %}
<table class="list-item" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
    <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top;">
            {% if widget.list_item_visual.src %}
            <td class="list-item-image standard-padding" valign="top" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 1em; text-align: left; vertical-align: top; width: 182px; word-wrap: break-word;">
                <center data-parsed="" style="min-width: 0; width: 100%;">
                    <img src="{{ widget.list_item_visual.src }}" width="{{ widget.list_item_visual.width }}" height="{{ widget.list_item_visual.height }}" alt="{{ widget.list_item_visual.alt }}" align="center" class="float-center" style="-ms-interpolation-mode: bicubic; Margin: 0 auto; clear: both; display: block; float: none; margin: 0 auto; max-width: 150px; outline: none; text-align: center; text-decoration: none; width: auto;">
                </center>
            </td>
            {% endif %}
            <td class="list-item-description standard-padding" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 1em; text-align: left; vertical-align: top; word-wrap: break-word;">
                {% if widget.list_item_header %}
                <strong style="line-height: 30px !important;">{{ widget.list_item_header }}</strong>{% endif %} {% if widget.list_item_text %}
                <p style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: 300; line-height: 26px; margin: 0; padding: 0; text-align: left;">{{ widget.list_item_text }}</p>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% endif %}