/* Enter Component Styles Here */
table.list-item {
	width: 100%;
}

table.list-item td {
	padding: 1em;
}

td.list-item-image {
	width: 151px;
}

td.list-item-image img {
	margin: 0 auto;
	Margin: 0 auto;
}