/* Enter Component Styles Here */
center {
	min-width: 0;
}

table.list-item {
	width: 100%;
}

td.list-item-image {
	width: 182px;
}

td.list-item-image img {
	margin: 0 auto;
	Margin: 0 auto;
	max-width: 150px;
}