<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">
<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{widget.FIELDNAME}}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->
<!-- Component HTML -->
<row>
	<h2 class="text-center">title</h2>
	<p>Soufflé toffee dragée dessert halvah bear claw oat cake caramels jelly beans
muffin ice cream tart.</p>
	<p>hard coded text</p>
</row>
