/* Enter Component Styles Here */
table.text-promotion {
	width: 100%;
}

table.text-promotion th {
	padding-bottom: 0;
}

td.content {
	background-color: #EFEFEF;
}

table.button tr td a {
	border: 0 solid << widget.button_audience >>;
	color: << widget.button_audience >>;
}

table.button {
	background-color: transparent;
	background: transparent;
	border: 1px solid << widget.button_audience >>;
}

table.button a {
	border-radius: 3px;
}

table.button table td {
	background-color: transparent;
	background: transparent;
	color: << widget.button_audience >>;
}

table.button tr td a {
	border: 0 solid << widget.button_audience >>;
	color: << widget.button_audience >>;
}