<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{ widget.FIELDNAME }}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->
{% set hex_color = widget.button_audience %}

<style>
	table.text-promotion table.button table tr td {
		color: << hex_color >>;
	}

	table.text-promotion table.button a table tr {
		border: 1px solid << hex_color >>;
	}

	table.text-promotion table.button a td {
		border: 0px solid << hex_color >>;
		color: << hex_color >>;
	}

	@media only screen and (max-width: 596px) {
		table.text-promotion table.button table td a {
			text-align: center !important;
		}
	}
</style>

<table class="text-promotion">
	<tbody>
		<tr>
			<td class="standard-padding">
				<row>
					<td class="content medium-padding">
						{% if widget.header %}
							<row>
								<td>
									<h3>{{ widget.header }}</h3>
								</td>
							</row>
						{% endif %}

						{% if widget.body_text %}
						<row>
							<td>
								<p>{{ widget.body_text }}</p>
							</td>
						</row>
						{% endif %}

						{% if widget.button_href and widget.button_text %}
							<row>
								<td class="standard-padding-vertical">
									<button class="radius medium" href="{{ widget.button_href }}">
										<table>
											<tr>
												<td>
													{{ widget.button_text }}
												</td>
											</tr>
										</table>
									</button>
								</td>
							</row>
						{% endif %}
					</td>
				</row>
			</td>
		</tr>
	</tbody>
</table>