{% set hex_color = widget.audience %}

<style>
    table.event-details table.content > tbody > tr > td {
    		background-color: {{ hex_color }};
    	}
</style>
<script type="application/ld+json">
    {
    		"@context": "http://schema.org",
    		"@type": "Event",
    		"name": "{{ widget.event_name }}",
    		"sponsor": {
    			"@type": "Organization",
    			"name": "{{ widget.schema_organization }}",
    			"url": "{{ widget.schema_organization_website_url }}"
    		},
    		"startDate": "{{ widget.schema_start_date }}T{{ widget.schema_start_time }}",
    		"endDate": "{{ widget.schema_end_date }}T{{ widget.schema_end_time }}",
    		"description": "{{ widget.schema_event_description }}",
    		"location": {
    			"@type": "Place",
    			"name": "{{ widget.event_venue }}",
    			"address": {
    				"@type": "PostalAddress",
    				"streetAddress": "{{ widget.event_street_address }}",
    				"addressLocality": "{{ widget.event_locality }}",
    				"addressRegion": "{{ widget.event_region }}",
    				"postalCode": "{{ widget.event_postal_code }}",
    				"addressCountry": "{{ widget.event_country }}"
    			}
    		}
    	}
</script>

<table class="event-details" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
    <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top;">
            <td class="standard-padding" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #FFF; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 200; hyphens: auto; line-height: 1.3; margin: 0; padding: 1em; text-align: left; vertical-align: top; word-wrap: break-word;">
                <table class="row content" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                    <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                            <td class="standard-padding" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; background-color: {{ hex_color }}; border-collapse: collapse !important; box-sizing: border-box; color: #FFF; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 200; hyphens: auto; line-height: 1.3; margin: 0; padding: 1em; text-align: left; vertical-align: top; word-wrap: break-word;">
                                <a href="{{ widget.event_url }}" style="Margin: 0; color: #474a4b; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;">
							{% if widget.event_image.src %}
								<table class="map" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
									<tbody>
										<tr style="padding: 0; text-align: left; vertical-align: top;">
											<td class="standard-padding-vertical" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #FFF; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 200; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; padding-bottom: 1em; padding-top: 1em; text-align: left; vertical-align: top; word-wrap: break-word;">
												<center data-parsed="" style="min-width: 0; width: 100%;">
													<img src="{{ widget.event_image.src }}" alt="{{ widget.event_image.alt }}" style="-ms-interpolation-mode: bicubic; Margin: 0 auto; border: none; border-radius: 216px; clear: both; display: block; float: none; height: 216px; margin: 0 auto; max-width: 100%; outline: none; text-align: center; text-decoration: none; width: 216px !important;" align="center" class="float-center">
												</center>
											</td>
										</tr>
									</tbody>
								</table>
							{% endif %}

							<table class="details" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
								<tbody>
									<tr style="padding: 0; text-align: left; vertical-align: top;">
										<td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #FFF; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 200; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
											{% if widget.event_date %}
												<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
													<tbody>
														<tr style="padding: 0; text-align: left; vertical-align: top;">
															<td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #FFF; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 200; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
																<div style="box-sizing: border-box; text-align: center; width: 100%;">{{ widget.event_date }}</div>
															</td>
														</tr>
													</tbody>
												</table>
											{% endif %}

											{% if widget.event_time %}
											<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
												<tbody>
													<tr style="padding: 0; text-align: left; vertical-align: top;">
														<td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #FFF; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 200; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
															<div style="box-sizing: border-box; text-align: center; width: 100%;">{{ widget.event_time }}</div>
														</td>
													</tr>
												</tbody>
											</table>
											{% endif %}

											<table class="row" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;"><tbody><tr style="padding: 0; text-align: left; vertical-align: top;">
												<td class="standard-padding-vertical" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #FFF; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 200; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; padding-bottom: 1em; padding-top: 1em; text-align: left; vertical-align: top; word-wrap: break-word;">
													{% if widget.event_venue %}
													<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
														<tbody>
															<tr style="padding: 0; text-align: left; vertical-align: top;">
																<td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #FFF; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 200; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
																	<h3 style="Margin: 0; box-sizing: border-box; color: #FFF; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 600; letter-spacing: 0.5px; line-height: 20px; margin: 0; margin-bottom: 0 !important; margin-top: 0 !important; padding: 0.3em 0; text-align: center; text-transform: none; width: 100%; word-wrap: normal;">{{ widget.event_venue }}</h3>
																</td>
															</tr>
														</tbody>
													</table>
													{% endif %}

													{% if widget.event_address %}
													<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
														<tbody>
															<tr style="padding: 0; text-align: left; vertical-align: top;">
																<td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #FFF; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 200; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
																	<div style="box-sizing: border-box; text-align: center; width: 100%;">{{ widget.event_address }}</div>
																</td>
															</tr>
														</tbody>
													</table>
													{% endif %}
												</td>
											</tr></tbody></table>
										</td>
									</tr>
								</tbody>
							</table>
						</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>