/* Enter Component Styles Here */
center {
	min-width: 0;
}

h3 {
	color: #FFF;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	text-transform: none;
}

table {
	width: 100%;
}

td div, td h3 {
	box-sizing: border-box;
	text-align: center;
	width: 100%;
}

td img {
	width: 216px !important;
	height: 216px;
	border-radius: 216px;
}

table.event-details tr td, table.event-details tr th {
	color: #FFF;
}