<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{ widget.FIELDNAME }}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->

{% set hex_color = widget.audience %}

<style>
	table.event-details > tbody > tr > td {
		background-color: << hex_color >>;
	}
</style>

<spacer size="16"></spacer>

<table class="event-details">
	<tbody>
		<tr>
			<td>
				<a href="{{ widget.event_url }}">
					{% if widget.event_image.src %}
						<table class="map">
							<tbody>
								<tr>
									<td>
										<center>
											<img src="{{ widget.event_image.src }}" alt="{{ widget.event_image.alt }}" style="width: 100%">
										</center>
									</td>
								</tr>
							</tbody>
						</table>
					{% endif %}

					<table class="details">
						<tbody>
							<tr>
								<td>
									<table>
										<tbody>
											<tr>
												<td>
													<div>{{ widget.event_date }}</div>
												</td>
											</tr>
										</tbody>
									</table>

									<table>
										<tbody>
											<tr>
												<td>
													<div>{{ widget.event_time }}</div>
												</td>
											</tr>
										</tbody>
									</table>

									<table>
										<tbody>
											<tr>
												<td>
													<h3>{{ widget.event_venue }}</h3>
												</td>
											</tr>
										</tbody>
									</table>

									<table>
										<tbody>
											<tr>
												<td>
													<div>{{ widget.event_address }}</div>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</a>
			</td>
		</tr>
	</tbody>
</table>

<spacer size="16"></spacer>