<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{ widget.FIELDNAME }}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->

{% set hex_color = widget.audience %}

<style>
	table.container.event-details > tbody > tr > td {
		background-color: << hex_color >>;
	}
</style>

<container class="event-details">
	<row>
		<columns>
			<a href="{{ widget.event_url }}">
				{% if widget.event_image.src %}
					<row>
						<td>
							<center>
								<img src="{{ widget.event_image.src }}" width="{{ widget.event_image.width }}" height="{{ widget.event_image.height }}" alt="{{ widget.event_image.alt }}" style="width: 100%">
							</center>
						</td>
					</row>
				{% endif %}

				<row>
					<td>
						<div>{{ widget.event_date }}</div>
					</td>
				</row>

				<row>
					<td>
						<div>{{ widget.event_time }}</div>
					</td>
				</row>

				<row>
					<td>
						<h3>{{ widget.event_venue }}</h3>
					</td>
				</row>

				<row>
					<td>
						<div>{{ widget.event_address }}</div>
					</td>
				</row>
			</a>
		</columns>
	</row>
</container>
