<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{ widget.FIELDNAME }}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->
<table class="full-width-image">
	<tbody>
		<tr>
			<td class="standard-padding">
				<row>
					{% if widget.full_width_image.src %}
						<td>
							<img alt="{{ widget.full_width_image.alt }}" class="full-width" height="" src="{{ widget.full_width_image.src }}" width="580">
						</td>
					{% endif %}
				</row>
			</td>
		</tr>
	</tbody>
</table>