/* Enter Component Styles Here */
.speaker-bio {
	font-weight: lighter;
}

.speaker-details {
	padding-right: 0;
	min-width: 250px;
}

.speaker-info {
	width: 100%;
}

.speaker-headshot {
	max-width: 150px;
	min-width: 60px;
}

.speaker-headshot img {
	height: auto;
	max-width: 150px;
	min-width: 60px;
}

.speaker-name {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.speaker-title {
	font-style: italic;
	font-weight: lighter;
}