/* Enter Component Styles Here */

table.horizontal-rule {
	width: 75% !important;
}

table.horizontal-rule td {
	background-color: #E3E4E5;
	font-size: 1px;
	height: 1px;
	margin: 0;
	vertical-align: middle;
	width: 100%;
}
