/* Enter Component Styles Here */
center {
	min-width: 0;
}

table.content > tbody > tr > td {
	background-color: #EFEFEF;
	box-sizing: border-box;
	width: 50%;
}

td.border-right {
	border-right: 1px solid #FFF;
}

td.double-promotion img {
	box-sizing: border-box;
}

td.double-promotion a, td.single-promotion a {
	font-style: italic;
	font-weight: 200;
}

td.double-promotion img {
	margin: 0 auto !important;
	Margin: 0 auto !important;
}

td.double-promotion th.logo {
	padding-bottom: 1em;
}

td.single-promotion {
	box-sizing: border-box;
	vertical-align: middle;
}

td.single-promotion img {
	margin: 0 auto;
	Margin: 0 auto;
}

td.double-promotion a, td.double-promotion p, td.double-promotion td {
	text-align: center;
}