<table class="logo-email-label" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
    <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top;">
            <td class="standard-padding" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 1em; text-align: left; vertical-align: top; word-wrap: break-word;">
                <center class="center-wrapper" data-parsed="" style="min-width: 580px; width: 100%;">
                    <a class="liferay-logo with-email-label float-center" href="https://www.liferay.com" align="center" style="Margin: 0; color: #4C4C4C; display: inline-block; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; text-align: left; text-decoration: none;">
                        <img height="32" src="https://discover.liferay.com/hubfs/Custom_Module_Files/liferay-blue2x.png" width="111" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 151px; outline: none; text-decoration: none; width: auto;">
                    </a>
                    {% if widget.email_label %}
                    <br align="center" class="float-center">
                    <div class="email-label subtitle float-center" align="center" style="color: #909295; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 14px; letter-spacing: 1px; padding-top: 8px; text-transform: uppercase;">{{ widget.email_label }}</div>
                    {% endif %}
                </center>
            </td>
        </tr>
    </tbody>
</table>