<center data-parsed="" style="min-width: 580px; width: 100%;">
    {% if widget.show_company_logo %}
    <a class="text-center float-center" href="https://www.liferay.com" align="center" style="Margin: 0; Margin-bottom: 10px; color: #818181; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: left; text-decoration: none;">
        {% if widget.use_svg_logo %}
        <img src="http://discover.liferay.com/hubfs/Germany/LR_Banner/liferay-logo-sas.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 100%; outline: none; text-decoration: none; width: auto;">
        {% else %}
            <img src="{{ widget.company_logo.src }}" width="{{ widget.company_logo.width }}" height="{{ widget.company_logo.height }}" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 100%; outline: none; text-decoration: none; width: auto;">
        {% endif %}
    </a>
    {% endif %}
</center>
{% if widget.show_email_label %}
<p class="subtitle text-center" style="Margin: 0; Margin-bottom: 10px; color: #818181; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: center; text-transform: uppercase;">{{ widget.email_label }}</p>
{% endif %}