/* Enter Component Styles Here */
table.logo-email-label {
	width: 100%;
}

a.liferay-logo {
	display: inline-block;
	margin: 0 auto;
}

a.liferay-logo img {
	max-width: 151px;
}

div.email-label {
	color: #a3a7b8;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
	letter-spacing: 0.4px;
	padding-top: 8px;
	text-transform: uppercase;
}