/* Enter Component Styles Here */
table.logo-email-label {
	width: 100%;
}

a.liferay-logo {
	display: inline-block;
	margin: 0 auto;
}

a.liferay-logo img {
	max-width: 151px;
}

div.email-label {
	color: #909295;
	font-family: "Source Sans Pro", Tahoma, "Trebuchet MS", sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	padding-top: 8px;
	text-transform: uppercase;
}