<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{widget.FIELDNAME}}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->
<table class="logo-email-label">
	<tbody>
		<tr>
			<td class="standard-padding">
				<center class="center-wrapper">
					<a class="liferay-logo with-email-label" href="https://www.liferay.com">
						<img height="32" src="https://discover.liferay.com/hubfs/Custom_Module_Files/liferay-blue2x.png" width="111">
					</a>
					{% if widget.email_label %}
						<br>
						<div class="email-label subtitle">{{ widget.email_label }}</div>
					{% endif %}
				</center>
			</td>
		</tr>
	</tbody>
</table>