<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{widget.FIELDNAME}}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->

<center>
{% if widget.show_company_logo %}
    <a class="text-center" href="https://www.liferay.com">
        {% if widget.use_svg_logo %}
        <img src="http://discover.liferay.com/hubfs/Germany/LR_Banner/liferay-logo-sas.png">
        {% else %}
            <img src="{{ widget.company_logo.src }}" width="{{ widget.company_logo.width }}" height="{{ widget.company_logo.height }}" />
        {% endif %}
    </a>
{% endif %}
</center>
{% if widget.show_email_label %}
    <p class="subtitle text-center" style="text-transform: uppercase;">{{ widget.email_label }}</p>
{% endif %}