<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{widget.FIELDNAME}}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->

<center>
{% if widget.show_company_logo %}
    <a class="" href="https://www.liferay.com" style="display:inline-block; margin: 40px auto 10px;">
        <img style="" src="http://discover.liferay.com/hubfs/Blue-LR-Logo-for-Email.jpg">
    </a><br>
{% endif %}
{% if widget.show_email_label %}
    <span class="subtitle text-center" style="text-transform: uppercase; padding: 10px 0px 20px;">{{ widget.email_label }}</span>
{% endif %}
</center>