{% set hex_color = widget.audience %}

<style>
    table.promotion tr td a {
    		color: {{ hex_color }} !important;
    	}
    
    	@media only screen and (max-width: 596px) {
    		table.promotion table.content td.double-promotion, table.promotion table.content td.single-promotion {
    			border-right-width: 0 !important;
    			display: inline-block !important;
    			width: 100% !important;
    		}
    	}
</style>

{% if widget.promotion_body_text %}
<table class="promotion" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
    <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top;">
            <td class="standard-padding" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 1em; text-align: left; vertical-align: top; word-wrap: break-word;">
                <table class="row content" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                    <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                            {% if widget.promotion_image_2.src %}
                            <td class="border-right double-promotion medium-padding" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; background-color: #EFEFEF; border-collapse: collapse !important; border-right: 1px solid #FFF; box-sizing: border-box; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 2em; text-align: left; vertical-align: top; width: 50%; word-wrap: break-word;">
                                <table class="row" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                                    <tbody>
                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                            <th class="logo" style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; padding-bottom: 1em; text-align: left;">
                                                {% if widget.promotion_image.src %}
                                                <center data-parsed="" style="min-width: 0; width: 100%;">
                                                    <img src="{{ widget.promotion_image.src }}" width="{{ widget.promotion_image.width }}" height="{{ widget.promotion_image.height }}" align="center" class="float-center" style="-ms-interpolation-mode: bicubic; Margin: 0 auto !important; box-sizing: border-box; clear: both; display: block; float: none; margin: 0 auto !important; max-width: 100%; outline: none; text-align: center; text-decoration: none; width: auto;">
                                                </center>
                                                {% endif %}
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>

                                {% if widget.promotion_body_text %}
                                <table class="row" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                                    <tbody>
                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: center; vertical-align: top; word-wrap: break-word;">
                                                <p style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: 300; line-height: 26px; margin: 0; padding: 0; text-align: center;">{{ widget.promotion_body_text }}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endif %}

                                <table class="row" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                                    <tbody>
                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: center; vertical-align: top; word-wrap: break-word;">
                                                <a href="{{ widget.promotion_cta_url }}" style="Margin: 0; color: {{ hex_color }} !important; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-style: italic; font-weight: 200; line-height: 1.3; margin: 0; padding: 0; text-align: center; text-decoration: none;">{{ widget.promotion_cta_text }}</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>

                            <td class="double-promotion medium-padding" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; background-color: #EFEFEF; border-collapse: collapse !important; box-sizing: border-box; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 2em; text-align: left; vertical-align: top; width: 50%; word-wrap: break-word;">
                                <table class="row" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                                    <tbody>
                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                            <th class="logo" style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; padding-bottom: 1em; text-align: left;">
                                                {% if widget.promotion_image_2.src %}
                                                <center data-parsed="" style="min-width: 0; width: 100%;">
                                                    <img src="{{ widget.promotion_image_2.src }}" width="{{ widget.promotion_image_2.width }}" height="{{ widget.promotion_image_2.height }}" align="center" class="float-center" style="-ms-interpolation-mode: bicubic; Margin: 0 auto !important; box-sizing: border-box; clear: both; display: block; float: none; margin: 0 auto !important; max-width: 100%; outline: none; text-align: center; text-decoration: none; width: auto;">
                                                </center>
                                                {% endif %}
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>

                                {% if widget.promotion_body_text %}
                                <table class="row" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                                    <tbody>
                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: center; vertical-align: top; word-wrap: break-word;">
                                                <p style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: 300; line-height: 26px; margin: 0; padding: 0; text-align: center;">{{ widget.promotion_body_text_2 }}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endif %}

                                <table class="row" style="border-collapse: collapse; border-spacing: 0; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                                    <tbody>
                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: center; vertical-align: top; word-wrap: break-word;">
                                                <a href="{{ widget.promotion_cta_url_2 }}" style="Margin: 0; color: {{ hex_color }} !important; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-style: italic; font-weight: 200; line-height: 1.3; margin: 0; padding: 0; text-align: center; text-decoration: none;">{{ widget.promotion_cta_text_2 }}</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            {% else %}
                            <td class="single-promotion medium-padding" valign="middle" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; background-color: #EFEFEF; border-collapse: collapse !important; box-sizing: border-box; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 2em; text-align: left; vertical-align: middle; width: 50%; word-wrap: break-word;">
                                {% if widget.promotion_image.src %}
                                <center data-parsed="" style="min-width: 0; width: 100%;">
                                    <img src="{{ widget.promotion_image.src }}" width="{{ widget.promotion_image.width }}" height="{{ widget.promotion_image.height }}" align="center" class="float-center" style="-ms-interpolation-mode: bicubic; Margin: 0 auto; clear: both; display: block; float: none; margin: 0 auto; max-width: 100%; outline: none; text-align: center; text-decoration: none; width: auto;">
                                </center>
                                {% endif %}
                            </td>

                            <td class="single-promotion medium-padding" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; background-color: #EFEFEF; border-collapse: collapse !important; box-sizing: border-box; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 2em; text-align: left; vertical-align: middle; width: 50%; word-wrap: break-word;">
                                {% if widget.promotion_body_text %}
                                <p style="Margin: 0; color: #4C4C4C; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight: 300; line-height: 26px; margin: 0; padding: 0; text-align: left;">{{ widget.promotion_body_text }}</p>
                                {% endif %} {% if widget.promotion_cta_url %}
                                <a href="{{ widget.promotion_cta_url }}" style="Margin: 0; color: {{ hex_color }} !important; font-family: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif; font-style: italic; font-weight: 200; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;">{{ widget.promotion_cta_text }}</a>{%
                                endif %}
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endif %}