<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{ widget.FIELDNAME }}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->
{% set hex_color = widget.audience %}

<style>
	table.promotion tr td a {
		color: << hex_color >> !important;
	}

	@media only screen and (max-width: 596px) {
		table.promotion table.content td.double-promotion, table.promotion table.content td.single-promotion {
			border-right-width: 0 !important;
			display: inline-block !important;
			width: 100% !important;
		}
	}
</style>

<table class="promotion">
	<tbody>
		<tr>
			<td class="standard-padding">
				<row class="content">
					{% if widget.promotion_image_2.src %}
						<td class="border-right double-promotion medium-padding">
							<row>
								<th class="logo">
									{% if widget.promotion_image.src %}
										<center>
											<img src="{{ widget.promotion_image.src }}" width="{{ widget.promotion_image.width }}" height="{{ widget.promotion_image.height }}">
										</center>
									{% endif %}
								</th>
							</row>

							{% if widget.promotion_body_text %}
								<row>
									<td>
										<p>{{ widget.promotion_body_text }}</p>
									</td>
								</row>
							{% endif %}

							<row>
								<td>
									<a href="{{ widget.promotion_cta_url }}">{{ widget.promotion_cta_text }}</a>
								</td>
							</row>
						</td>

						<td class="double-promotion medium-padding">
							<row>
								<th class="logo">
									{% if widget.promotion_image_2.src %}
										<center>
											<img src="{{ widget.promotion_image_2.src }}" width="{{ widget.promotion_image_2.width }}" height="{{ widget.promotion_image_2.height }}">
										</center>
									{% endif %}
								</th>
							</row>

							{% if widget.promotion_body_text %}
								<row>
									<td>
										<p>{{ widget.promotion_body_text_2 }}</p>
									</td>
								</row>
							{% endif %}

							<row>
								<td>
									<a href="{{ widget.promotion_cta_url_2 }}">{{ widget.promotion_cta_text_2 }}</a>
								</td>
							</row>
						</td>
					{% else %}
						<td class="single-promotion medium-padding" valign="middle">
							{% if widget.promotion_image.src %}
								<center>
									<img src="{{ widget.promotion_image.src }}" width="{{ widget.promotion_image.width }}" height="{{ widget.promotion_image.height }}">
								</center>
							{% endif %}
						</td>

						<td class="single-promotion medium-padding">
							{% if widget.promotion_body_text %}
								<p>{{ widget.promotion_body_text }}</p>
							{% endif %}

							{% if widget.promotion_cta_url %}
								<a href="{{ widget.promotion_cta_url }}">{{ widget.promotion_cta_text }}</a>
							{% endif %}
						</td>
					{% endif %}
				</row>
			</td>
		</tr>
	</tbody>
</table>