/* Enter Component Styles Here */
table.cta-button {
	width: 100%;
}

table.button {
	background-color: << widget.button_color >>;
	background: << widget.button_color >>;
	border-width: 0;
}

table.button table td {
	background-color: << widget.button_color >>;
	background: << widget.button_color >>;
}

table.button table a {
	border: 0 solid << widget.button_color >>;
	color: #FFF;
}