<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{widget.FIELDNAME}}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->

<style>
	@media only screen and (max-width: 596px) {
		table.button {
			text-align: center !important;
		}
	}

	table.button:hover {
        background: #0053F0 !important;
        background-color: #0053F0 !important;
    }

    table.button:active {
    	background: #004AD7 !important;
        background-color: #004AD7 !important;
    }
</style>

{% if widget.button_href and widget.button_text %}
	{% if widget.alignment == 'left' %}
		<table class="cta-button">
			<tbody>
				<tr>
					<td class="standard-padding">
						<button class="left-aligned radius" href="{{ widget.button_href }}">
							{{ widget.button_text }}
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	{% else %}
		<table class="cta-button">
			<tbody>
				<tr>
					<td class="standard-padding">
						<center>
							<button class="radius" href="{{ widget.button_href }}">
								{{ widget.button_text }}
							</button>
						</center>
					</td>
				</tr>
			</tbody>
		</table>
	{% endif %}
{% endif %}