<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{widget.FIELDNAME}}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->
{% if widget.button_color == 'prospect' %}
{% set hex_color = '#df584c' %}

{% elif widget.button_color == 'community' %}
{% set hex_color = '#00a2aa' %}

{% elif widget.button_color == 'partner' %}
{% set hex_color = '#67609b' %}

{% else %}
{% set hex_color = '#33b88b' %}

{% endif %}

{% if widget.alignment == 'left' %}


<style>
	table.button tr td {
		background: << hex_color >> !important;
		border: 0px solid << hex_color >> !important;
		color: #FFF !important;
	}

	table.button tr a {
		border: 0 solid << hex_color >>;
		color: #FFF !important;
	}

	@media only screen and (max-width: 596px) {
		table.button.small-expand,
	    table.button.small-expanded {
	        width: 100% !important;
	    }
	    table.button.small-expand table,
	    table.button.small-expanded table {
	        width: 100%;
	    }
	    table.button.small-expand table a,
	    table.button.small-expanded table a {
	        text-align: center !important;
	        width: 100% !important;
	        padding-left: 0 !important;
	        padding-right: 0 !important;
	    }
	    table.button.small-expand center,
	    table.button.small-expanded center {
	        min-width: 0;
	    }
	}
</style>

<table class="button radius medium small-expanded">
	<tr>
		<td>
			<table>
				<tr>
					<td><a href="{ widget.button_href }}">{{ widget.button_text }}</a></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

{% else %}
<center>
	<table class="button radius medium small-expanded">
		<tr>
			<td>
				<table>
					<tr>
						<td><a href="{ widget.button_href }}">{{ widget.button_text }}</a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</center>

{% endif %}