<!-- Don't Touch Me -->
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="main.css">

<!-- Hubspot Variables
	To insert hubspot variables, they have a general syntax of {{widget.FIELDNAME}}. Please copy and paste from Hubspot's Custom Module builder or view their docs.

	For docs see: http://designers.hubspot.com/docs/cos/custom-modules
-->

<!-- Component HTML -->
{% set hex_color = widget.button_color %}

<style>
	table.button {
		background-color: << widget.button_color >>;
		background: << widget.button_color >>;
	}

	table.button table td {
		background-color: << widget.button_color >>;
		background: << widget.button_color >>;
	}

	table.button table a {
		border: 0 solid << widget.button_color >>;
	}

	@media only screen and (max-width: 596px) {
		table.button {
			text-align: center !important;
		}
	}
</style>

{% if widget.button_href and widget.button_text %}
	{% if widget.alignment == 'left' %}

		<table class="cta-button">
			<tbody>
				<tr>
					<td class="standard-padding">
						<button class="radius medium left-aligned" href="{{ widget.button_href }}">
							{{ widget.button_text }}
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	{% else %}
		<table class="cta-button">
			<tbody>
				<tr>
					<td class="standard-padding">
						<center>
							<button class="radius medium" href="{{ widget.button_href }}">
								{{ widget.button_text }}
							</button>
						</center>
					</td>
				</tr>
			</tbody>
		</table>
	{% endif %}
{% endif %}
