<style>
    body,
    	table.body,
    	h1,
    	h2,
    	h3,
    	h4,
    	h5,
    	h6,
    	p,
    	td,
    	th,
    	a {
    	    color: #818181 !important;
    	    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
    	    font-weight: normal !important;
    	    margin-bottom: 10px !important;
    	    Margin-bottom: 10px !important;
    	}
    
    	h1,
    	h2,
    	h3,
    	h4,
    	h5,
    	h6 {
    	    color: #6a6f81 !important;
    	}
</style>

{{ widget.body_content }}
<h1 style="Margin: 0; Margin-bottom: 10px !important; color: #6a6f81 !important; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important; font-size: 34px; font-weight: normal !important; line-height: 1.3; margin: 0; margin-bottom: 10px !important; padding: 0; text-align: left; word-wrap: normal;">heading 1</h1>
<h2 style="Margin: 0; Margin-bottom: 10px !important; color: #6a6f81 !important; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important; font-size: 30px; font-weight: normal !important; line-height: 1.3; margin: 0; margin-bottom: 10px !important; padding: 0; text-align: left; word-wrap: normal;">heading 2</h2>
<p style="Margin: 0; Margin-bottom: 10px !important; color: #818181 !important; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important; font-size: 16px; font-weight: normal !important; line-height: 1.3; margin: 0; margin-bottom: 10px !important; padding: 0; text-align: left;">Brownie gingerbread sweet candy canes pudding bonbon cookie. topping brownie tart sugar plum sesame tart. sweet ice cream cotton candy donut oat cake snaps cupcake sweet chupa chups biscuit muffin.
</p>
&nbsp; &nbsp;


